.menu-header {
    display: flex;
    align-items: center;
  }
  
  .menu-logo {
    margin-left: 25px;
  }
  
  .menu-nav {
    flex-grow: 1;
    text-align: center;
  }
  

  .menu-ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  
  .menu-ul li {
    margin-left: 18px;
  }
  
  .menu-ul li:first-child {
    margin-left: 0;
  }
  
  .menu-search,
  .menu-most-like {
    margin-left: 10px;
    
  }
  
